@import 'https://fonts.googleapis.com/css?family=Work+Sans:100,200,400';
  
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
@import 'feather.css';

body {
  font-size:140%;
}

h1 {
  margin: 0;
  font-size:400%;
  font-weight:100;
}

section {
  border-bottom: 1px solid #c9e8d3;
  padding: 20px;
}

.inline {
  display: inline-block;
}

.indicators{
  position: absolute;
  right:0;
  top:0;
}

body {
  font-family: 'Work Sans';
  color: #5eba7d;
  padding:0;
  margin:0;
}

.pleft {
  width: 25%;
}

.status {
  font-size: 300%;
  font-weight: 200;
}

button {
  background: none;
  border: none;
  color: inherit;
  margin: 0;
  font-size:24px;
}

button:active {
  background-color: rgba(111, 193, 139, .5);
}

button:focus {
  outline: 0px auto -webkit-focus-ring-color;
}

.current-main { 
  width:3.5em;
  text-align:center;
}

.current-main .relay-on {
  font-size: 35px;
}

.full-buttons { 
  position: relative;
}

.full-buttons button { 
  position:absolute;
  top:0;
  bottom:0;
  width:50%;
}

.full-buttons button.minus { 
  left:0;
  text-align: left;
}

.full-buttons button.plus { 
  right:0;
  text-align: right;
}

.iconic {
  padding:16px 0 16px 2.5em;
  border-bottom: 1px solid #82c99a;
  transition: background-color .5s, color .5s;
}

.iconic > i { 
  margin-left: -2.0em;
}

header {
  font-size: 10px;
}

.relay-on
{
  display: inline-block;
  animation: flicker .4s linear infinite;
  stroke:#5eba7d;
  stroke-width:21;
  stroke-linejoin: round;
  width:50;
}

@keyframes flicker
{
  0%,100%   { opacity: 0.5 ;}
  75%  { opacity:1.0; }
}

section.override { 
    background-color: #5eba7d;
    color: white;
}

section.override button.clear { 
  display: inline;
}

button.clear { 
  display:none;
}
